<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<bean id="cstServiceDao" class="com.zking.sys.dao.impl.service.cstServiceDaoImpl"
		parent="baseDao">
	</bean>
	
	<bean id="cstServiceService" class="com.zking.sys.service.impl.service.cstServiceServiceImpl"
		parent="baseService">
		<property name="cstServiceDao">
			<ref bean="cstServiceDao" />
		</property>
	</bean>
	
	<bean id="cstServiceAction" class="com.zking.sys.action.service.cstServiceAction"
		parent="baseAction" scope="prototype">
		<property name="cstServiceService">
			<ref bean="cstServiceService" />
		</property>
	</bean> 
</beans>
	